<!DOCTYPE html>
<div class="layer-info-item pull-right">
    <span class="bootstrap-icon settings-icon rotate"><i class="bi-gear"></span>
</div>
<div class="selected-layer-item">
    <span class="bootstrap-icon x-icon pull-left"><i class="bi-x-lg"></span>
    <div class="pull-left">
        <% if (isVisibleInMap === true) { %>
            <span class="bootstrap-icon pull-left"><i class="bi-check2-square"></span>
        <% } else { %>
            <span class="bootstrap-icon pull-left"><i class="bi-square"></span>
        <% } %>
        <% if (isSecured) { %>
            <span class="bootstrap-icon lock-icon"><i class="bi-lock-fill"></span>
        <% } %>
        <span class="title"><%= name %></span>
    </div>
</div>
