.mobileHeader {
    background-color: #353535;
    height: 55px;
    /*padding: 16px 18px 24px 18px;*/
    color: #fff;
    width: 100%;
    font-size: 16px;
}
.mobileHeader div {
    float: left;
}
.mobileHeader div.filter {
    float: right;
    width: 55px;
    height: 55px;
}
.mobileHeader img {
    cursor: pointer;
}
.mobileHeader img.filter {
    float: right;
    padding: 15px;
    margin: 5px 5px;
}
.mobileHeader img.arrow {
    padding: 20px 18px;
}
.mobileHeader .title {
    padding-top: 20px;
    margin-left: 21px;
}
