

.simple-lister-view {
    position: relative;
    top: -100%;
    height: 100%;
    width: 0%;
}
.simple-lister-button > .glyphicon {
  top: 7px;
  font-size: 12px;
  position: absolute;
  padding: 21px 12px 21px 12px;
  color: #999999;
  background-color: #fff;
  cursor: pointer;
}
.simple-lister-button  > .glyphicon-triangle-left {
  left: 100%;
}
.simple-lister-table {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    background: white;
}
.simple-lister-highlight {
    background-color: #f7f7f7;
}
.simple-lister-table .table {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    .entries {
        max-height: 89%;
        overflow: auto;
        width: 100%;
        cursor: pointer;
    }
    .heading {
        padding: 18px 26px;
        height: 10%;
        font-size: 15px;
        width: 100%;
        font-family: "HamburgSans-Bold";
        line-height: 2;
        letter-spacing: -0.5px;
        color: #333333;
    }
    .line {
        height: 5px;
        background-color: #f7f7f7;
    }
    .entry{
        padding: 18px 0 0 26px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.4;
        height: 144px;
        font-family: "HamburgSans-Bold";
        color: #084798;
    }
    .description{
        color: #333;
        font-family: "HamburgSans";
        font-size: 15px;
        line-height: 1.67;
        letter-spacing: -0.4px;
    }

}

/*
Knopf zum Nachladen
*/
#div-simpleLister-extentList {
  height: 45px;
  border-radius: 3px !important;
  border: solid 1px rgba(0, 0, 0, 0.18);
  text-align: center;
  color: white;
  background-color: #005ca9;
  margin: 5px 20px 5px 20px;
}

#div-simpleLister-extentList:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#div-simpleLister-extentList-text {
  font-size: 14px;
  line-height: 3.3;
  font-family: HamburgSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.4px;
}
