

.simple-lister-view {
    position: relative;
    top: -100%;
    height: 100%;
    width: 100%;
}
.simple-lister-button > .glyphicon {
  top: 7px;
  font-size: 12px;
  position: absolute;
  padding: 21px 12px 21px 12px;
  color: #999999;
  background-color: #fff;
}
.simple-lister-button  > .glyphicon-triangle-left {
  left: 41%;
}
.simple-lister-table {
    position: relative;
    display: block;
    height: 100%;
    width: 41%;
    background: white;
}

.simple-lister-table .table {
    height: 100%;
    width: 100%;
    margin-bottom: 0px;
    .entries {
        max-height: 89%;
        overflow: auto;
        width: 100%;
    }
    .heading {
        padding: 18px 26px;
        height: 10%;
        font-size: 15px;
        width: 100%;
        font-family: "HamburgSans-Bold";
        line-height: 2;
        letter-spacing: -0.5px;
        color: #333333;
    }
    .line {
        height: 5px;
        background-color: #f7f7f7;
    }
    .entry{
        padding: 18px 0 0 26px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.4;
        height: 144px;
        font-family: "HamburgSans-Bold";
        color: #084798;
    }
    .description{
        color: #333;
        font-family: "HamburgSans";
        font-size: 15px;
        line-height: 1.67;
        letter-spacing: -0.4px;
    }

}
