

.simple-lister-view {
    position: absolute;
    top: 100px;
    height: 100%;
    width: 100%;
}
.simple-lister-button {
    margin-top: 20px;
}
.simple-lister-button > .glyphicon {
    font-size: 20px;
    padding: 7px 6px 6px 7px;
    color: #f3f3f3;
    background-color: rgb(182, 0, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.simple-lister-table {
    display: block;
    height: 50%;
    overflow-x: auto;
    width: 50%;
    overflow-y: auto;
    background: white;
}

.simple-lister-table .table {
    td, tr {
        border: 0 solid;
    }
}


