<div class="simple-lister-button" title="Anliegen anzeigen">
    <span class="glyphicon <%= glyphicon %>"></span>
</div>
<div id="simple-lister-table" class="simple-lister-table" style="display: <%= display %>">
    <div class="table">

        <%if (featuresInExtent.length <1) {%>
            <div class="heading">
                <%= errortxt%>
            </div>
        <%} else { %>
            <div class="heading">
                1 - <%= totalFeaturesInPage %> von <%= totalFeatures %> Einträgen
            </div>
            <div class="line"></div>
        <%}%>
        <div class="entries">
            <%_.each(featuresInExtent, function(feature){ %>
                <div id="<%= feature.id%>" class="entry">
                    <div class="address">
                        <%= feature.properties.str %> <%= feature.properties.hsnr %>
                    </div>
                     <div class="category">
                        <%= feature.properties.kat_text %>
                    </div>
                    <div class="description">
                        <%= feature.properties.beschr.length > 50? feature.properties.beschr.substring(0, 50) + "...": feature.properties.beschr%>
                    </div>
                </div>
                <div class="line"></div>
            <%});%>
            <% if (totalFeaturesInPage < totalFeatures) { %>
            <div id="div-simpleLister-extentList" title="Liste erweitern">
                <span id="div-simpleLister-extentList-text">Liste erweitern</span>
            </div>
            <% } %>
        </div>
    </div>
</div>
