<div class="simple-lister-button" title="Anliegen anzeigen">
    <span class="glyphicon <%= glyphicon %>"></span>
</div>
<div id="simple-lister-table" class="simple-lister-table" style="display: <%= display %>">
    <table class="table">

        <%if (featuresInExtent.length <1) {%>
            <tr>
                <td><%= errortxt%></td>
            </tr>
        <%}%>
        <%_.each(featuresInExtent, function(feature){%>
            <tr>
                <td>
                    <tr>
                        <td><%= feature.properties.str %> <%= feature.properties.hsnr %></td>
                    </tr>
                     <tr>
                        <td><%= feature.properties.kat %></td>
                    </tr>
                    <tr>
                        <td><%= feature.properties.beschr %></td>
                    </tr>
                </td>
            </tr>
            <tr>
                <td>
                    <tr>
                        <td><%= feature.properties.str %> <%= feature.properties.hsnr %></td>
                    </tr>
                    <tr>
                        <td><%= feature.properties.beschr %></td>
                    </tr>
                </td>
            </tr>
        <%});%>
    </table>
</div>
