<div class="simple-lister-button" title="Anliegen anzeigen">
    <span class="glyphicon <%= glyphicon %>"></span>
</div>
<div id="simple-lister-table" class="simple-lister-table" style="display: <%= display %>">
    <div class="table">

        <%if (featuresInExtent.length <1) {%>
            <div class="heading">
                <%= errortxt%>
            </div>
        <%} else { %>
            <div class="heading">
                1 - 20 von <%= featuresInExtent.length %> Einträgen
            </div>
            <div class="line"></div>
        <%}%>
        <div class="entries">
            <%_.each(featuresInExtent, function(feature){ %>
                <div class="entry">
                    <div class="address">
                        <%= feature.properties.str %> <%= feature.properties.hsnr %>
                    </div>
                     <div class="category">
                        <%= feature.properties.kat %>
                    </div>
                    <div class="description">
                        <%= feature.properties.beschr.length > 50? feature.properties.beschr.substring(0, 50) + "...": feature.properties.beschr%>
                    </div>
                </div>
                <div class="line"></div>
            <%});%>
        </div>
    </div>
</div>
