<!DOCTYPE html>
<div class="theme-wrapper">
    <image class="top-picture" src="<%= gfiContent[0].Pic %>"></image>
    <div class="kat heading"><%= gfiContent[0]["Kat text"] %></div>
    <div class="Beschreibung"><%= gfiContent[0].Beschr %></div>
    <div class="rueckmeldung heading">Rückmeldung</div>
    <div class="rueckmeldung"><%= gfiContent[0].Rueck %></div>
    <div class="gemeldet-am"> Gemeldet am: <%= (startTime? startTime : "nicht bekannt.") %></div>
    <div class="status">Status: <%= gfiContent[0].Statu + "." %></div>
</div>
