#RoutingWin {
    max-width: 500px;
}
.start-square {
    width: 34px;
    height: 34px;
    background-color: #81BEF7;
}
.ziel-square {
    width: 34px;
    background-color: #FE2E2E;
}
.fixedwidth {
    width:100%;
    text-align: center;
}
.errortime {
    background-color: #FE2E2E;
}
.routinglocator {
    background-color: #fff;
    vertical-align: middle !important;
    top: 0;
}
.routinglocator:hover {
    background-color: #ebebeb;
}
.panel-description {
    overflow: auto;
}

#routingoverlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    color: blue;
    border-radius: 5px !important;
    font-family: "UniversNextW01-Regular",sans-serif;
    font-weight: bold;
    padding: 5px;
}
