.mmlAssistentCaller {
    position: absolute;
    bottom: 20px;
    right: 8px;
    border-radius: 5px;
    background-color: rgba(225, 0, 25, 1);
    width: 169px;
    height: 40px;
    cursor: pointer;
}
.mmlAssistentCallerText {
    color: white;
    font-family: "HamburgSans-Bold";
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    letter-spacing: -0.4px;
    margin-left: 10px;
    position: relative;
    bottom: 6px;
}
.mmlAssistentCaller:hover {
    background-color: rgba(225, 0, 25, 0.8);
}
.mmlAssistentPlus {
    margin-left: 15px;
    margin-top: 9px;
    width: 22px;
    height: 22px;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
}
.mmlWelcomeScreen {
    background-color: rgba(255,255,255,0.5);
}
.mmlWelcomeScreen-dialog {
    top: 25%;
    margin: 25px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.mmlWelcomeScreen-close {
    position: relative;
    float: right;
    cursor: pointer;
    width: 55px;
    height: 55px;
    background-color: #ffffff;
}
.mmlWelcomeScreen-close:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
.mmlWelcomeScreen-header {
    position: relative;
    top: 29px;
    text-align: center;
    font-family: HamburgSans-Bold;
    font-size: 19px;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: -0.5px;
    color: #003063;
}
.mmlWelcomeScreen-text {
    position: relative;
    padding: 40px 28px;
    font-family: HamburgSans-Regular;
    font-size: 17px;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: -0.5px;
    text-align: center;
    color: #333333;
}
.mmlWelcomeScreen-buttons {
    margin: auto;
    margin-bottom: 35px;
    width: 350px;
    height: 45px;
}
.mmlWelcomeScreen-svg {
    position: relative;
    top: 5px;
    width: 22px;
    height: 22px;
}
.mmlWelcomeScreen-plus {
    background-color: rgba(225, 0, 25, 1);
    float: right;
}
.mmlWelcomeScreen-plus:hover {
    background-color: rgba(225, 0, 25, 0.5);
}
.mmlWelcomeScreen-map {
    background-color: rgba(15, 92, 173, 1);
    float: left;
}
.mmlWelcomeScreen-map:hover {
    background-color: rgba(15, 92, 173, 0.5);
}
.mmlWelcomeScreen-ButtonText {
    margin-left: 10px;
    font-family: HamburgSans-Bold;
    font-size: 15px;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: -0.4px;
    text-align: center;
    color: #ffffff;
}
#div-mmlWelcomeScreen {
    display: block;
    padding-right: 0px;
    top: 0%;
    position: absolute;
}
