.messages {
    position: absolute;
    top: 70px;
    overflow-y: auto;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 50%;
    z-index: 9000;
}

.messages > .alert {
    position: relative;
    text-align: justify;
    word-wrap:break-word;
}
