<!DOCTYPE html>
<button id="btn-mmlFilter-toggle" class="btn btn-default" style="left: <%=mapWidth - 45%>px;" type="button" title="Filter ein- / ausklappen">
    <span class="glyphicon glyphicon-filter"></span>
</button>
<div id="div-mmlFilter-content" style="height:<%= mapHeight%>px;">
    <div class="panel-group" id="mmlFilter-accordion">

        <div class="panel panel-default mml-white panel-collapse">
            <div class="panel-heading mml-white">
                <h4 class="panel-title">
                    <a class="div-mmlFilter-filter-header" data-toggle="collapse" data-parent="#mmlFilter-accordion" href="#mmlKategorien">Kategorien <span class="glyphicon glyphicon-triangle-top float-right mml-blue"></span></a>

                </h4>
            </div>
            <div id="mmlKategorien" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div id="div-mmlFilter-reset" title="Alle Kategorien deaktivieren">
                        <span id="div-mmlFilter-reset-text">Alle Kategorien deaktivieren</span>
                    </div>
                    <div class="div-mmlFilter-filter-kategorien">
                        <input id="202" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Ampelschaden<br>
                        <input id="401" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Baumschaden<br>
                        <input id="203" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beleuchtetes Schild beschädigt<br>
                        <input id="105" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigte Brücke, Tunnel, Mauer, Treppe<br>
                        <input id="106" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigte Geländer, Poller, Fahrradständer, Sitzgelegenheit<br>
                        <input id="107" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigte Haltestelle<br>
                        <input id="108" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigter Parkscheinautomat<br>
                        <input id="109" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigter Stromkasten<br>
                        <input id="104" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Beschädigtes Verkehrszeichen<br>
                        <input id="503" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Gewässerverunreinigung<br>
                        <input id="502" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Graben<br>
                        <input id="400" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Grünanlagen und Spielplätze<br>
                        <input id="501" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Gully-Schaden<br>
                        <input id="110" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Hundekot<br>
                        <input id="200" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Laternen und beleuchtete Verkehrszeichen<br>
                        <input id="101" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Schlagloch und Wegeschaden<br>
                        <input id="300" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Schnee und Eis<br>
                        <input id="500" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Siele und Gewässer<br>
                        <input id="402" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Spielgeräteschaden<br>
                        <input id="201" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Straßenbeleuchtung beschädigt<br>
                        <input id="102" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Verunreinigung und Vandalismus<br>
                        <input id="100" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Wege und Straßen<br>
                        <input id="103" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Wildwuchs und Überwuchs<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default mml-white panel-collapse">
            <div class="panel-heading mml-white">
                <h4 class="panel-title">
                    <a class="div-mmlFilter-filter-header"data-toggle="collapse" data-parent="#mmlFilter-accordion" href="#mmlBearbStatus">Bearbeitungsstatus</a>
                    <span class="glyphicon glyphicon-triangle-bottom float-right"></span>
                </h4>
            </div>
            <div id="mmlBearbStatus" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="div-mmlFilter-filter" style="max-height:<%= filterMaxHeight %>px;">
                        <div class="div-mmlFilter-filter-status">
                            <input id="In Bearbeitung" class="margin-right-only mml-checkbox" type="checkbox" checked="true">In Bearbeitung<br>
                            <input id="abgeschlossen" class="margin-right-only mml-checkbox" type="checkbox" checked="true">Bearbeitet<br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default mml-white panel-collapse">
            <div class="panel-heading mml-white">
                <h4 class="panel-title">
                    <a class="div-mmlFilter-filter-header"data-toggle="collapse" data-parent="#mmlFilter-accordion" href="#mmlZeitraum">Zeitraum</a>
                    <span class="glyphicon glyphicon-triangle-bottom float-right"></span>
                </h4>
            </div>
            <div id="mmlZeitraum" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="div-mmlFilter-filter" style="max-height:<%= filterMaxHeight %>px;">
                        <div class="div-mmlFilter-filter-time">
                            <input id="7days" class="margin-leftright zoom" type="radio" name="zeitraum" value="7days" checked>Die letzten 7 Tage<br>
                            <input id="30days" class="margin-leftright zoom" type="radio" name="zeitraum" value="30days"> Die letzten 30 Tage<br>
                            <input id="userdefined" class="margin-leftright zoom" type="radio" name="zeitraum" value="userdefined"> Zeitraum wählen<br>
                            <div class="row" style="display:none;">
                                <span class="margin-leftright" id="basic-addon3">Von</span>
                                <div id="fromDateDiv" class="input-group float-right" name="from">
                                    <input id="fromDate" class="datepicker float-right form-control" type="text" name="from" placeholder="yyyy-mm-tt">
                                    <span class="input-group-btn">
                                        <button id="btn-fromDate" class="btn btn-default btn-calendar" type="button" title="Kalender öffnen">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <div class="row" style="display:none;">
                                <span class="margin-leftright" id="basic-addon4">Bis</span>
                                <div id="toDateDiv" class="input-group float-right" name="bis">
                                    <input id="toDate" class="datepicker float-right form-control" type="text" name="bis" placeholder="yyyy-mm-tt">
                                    <span class="input-group-btn">
                                        <button id="btn-toDate" class="btn btn-default btn-calendar" type="button" title="Kalender öffnen">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-collapse">
            <div id="div-mmlFilter-execute" title="Filter anwenden">
                <span id="div-mmlFilter-execute-text">Filter anwenden</span>
            </div>
        </div>
    </div>
</div>
